<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Football Manager</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Hello {{manager.manager_name}}</h1>
    <h2>Current squad: {{squad.squad_name}}</h2>
    <h2>Add a season!</h2>
    <form action="/managers/{{manager.id}}/squads/{{squad.id}}/seasons" method="post">
      <!-- We check to see if there are any errors from a previous submission -->
      {% if errors %}
      <!-- If so, we show them. -->
      <p class="t-errors">
        There were errors with your submission: {{ errors }}
      </p>
      {% endif %}

      <p>
        <!-- These `label` tags are important for accessibility -->
        <label for="season_start_date">Season Start Date</label>
        <input type="text" name="season_start_date" id="season_start_date" />
        <label for="season_length">Season Length</label>
        <input type="text" name="season_length" id="season_length" value="12" />
      </p>
      <p>
        <!-- `type` is submit here, to indicate it is a button -->
        <!-- `value` is used as the button's text -->
        <input type="submit" value="Add Season" />
      </p>
    </form>
    <a href="/managers/{{manager.id}}">Back to manager home</a>
  </body>
</html>
