<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Squad Page</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Football Manager</h1>
    <h2>Manager Details</h2>
    <p class="t-manager-name">Manager Name: {{manager.manager_name}}</p>
    <p class="t-manager-email">Manager Email: {{manager.manager_email}}</p>
    <h2>Squad</h2>
    <p class="t-squad-name">Squad Name: {{squad.squad_name}}</p>
      <h2>Season: {{season.season_start_date}}</h2>

      <ul>
        {% for gameweek in gameweeks %}
        <li>
          <!-- We can use {{ placeholders }} in HTML attributes too -->
          <a href="http://localhost:5001/managers/{{manager.id}}/squads/{{squad.id}}/seasons/{{season.id}}/gameweeks/{{gameweek.id}}"
            >Game Week: {{gameweek.week_number}} - {{gameweek.game_week_date}} - Click to manage seasons</a
          >
        </li>
        {% endfor %}
      </ul>
  
      <!-- <form action="/managers/{{manager.id}}/squads/{{squad.id}}/seasons" method="get">
        <input type="submit" value="Create a new season">
      </form> -->
      <h2>Players</h2>

      {% for player in players %}
      <li>
        <!-- We can use {{ placeholders }} in HTML attributes too -->
        <a href="http://localhost:5001/managers/{{manager.id}}/players/{{player.id}}"
          >Player Name: {{player.player_name}} - Position {{player.player_position}} - Click to manage player</a
        >
      </li>
      {% endfor %}

      
      <form action="/managers/{{manager.id}}/players" method="get">
        <input type="submit" value="Add a player">
      </form>
    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
    <a href="/managers/{{manager.id}}">Back to manager home</a>
  </body>
</html>
