<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manager Home</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Manager Home</h1>
    <h2>Manager Details</h2>
    <p class="t-manager-name">Manager Name: {{manager.manager_name}}</p>
    <p class="t-manager-email">Manager Email: {{manager.manager_email}}</p>
    <!-- <form action="/managers/{{manager.id}}" method="post">
      <input type="submit" value="Update Manager Name" />
    </form> -->
    <h2>The current date is: {{ today_date_formatted }}</h2>
    <h2>Squads</h2>
    <ol>
      {% for squad in squads %}
      <li>
        <a
          href="http://localhost:5001/managers/{{manager.id}}/squads/{{squad.id}}"
          >{{squad.squad_name}} - Click to manage squads</a
        >
      </li>
      {% endfor %}
    </ol>

    <form action="/managers/{{manager.id}}/squads" method="get">
      <input type="submit" value="Create a new squad" />
    </form>

    <h2>Seasons</h2>
    <ol>
      {% for season in seasons %}
      <li>
        <a
          href="http://localhost:5001/managers/{{manager.id}}/squads/{{season.squad_id}}/seasons/{{season.id}}"
        >
          {{season.squad_id}} Season ID: {{season.id}} Season Start:
          {{season.season_start_date}} - Season Length {{season.season_length}}
        </a>
      </li>
      {% endfor %}
    </ol>

    <h2>Players</h2>
    <ol>
      {% for player in players %}
      <li>
        <!-- We can use {{ placeholders }} in HTML attributes too -->
        <a href="http://localhost:5001/managers/{{manager.id}}/players/{{player.id}}"
          >{{player.player_name}} - {{player.player_position}}</a
        >
      </li>
      {% endfor %}
    </ol>
    <form action="/managers/{{manager.id}}/players" method="get">
      <input type="submit" value="Add a player" />
    </form>
    <!-- To have a delete button with a post request, we need a form -->
    <!-- Note, we use `POST /books/<id>/delete because browsers can't send DELETE methods! -->

    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
    <a href="/managers/{{manager.id}}">Back to manager home</a>
  </body>
</html>
